/* Primary

Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

### Neutral

- Dark Text: hsl(229, 25%, 31%)
- Score Text: hsl(229, 64%, 46%)
- Header Outline: hsl(217, 16%, 45%)

### Background

- Radial Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%) */



/* Header CSS */

header {
  letter-spacing: 1px;
  color: white;
  display: flex;
  margin: auto;
  width: 650px;
  padding: 15px 20px;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 16px;
  line-height: 23px;
  justify-content: space-between;
  margin-top: 20px;
}

Header p {
  margin-block: 0;
  margin-inline: 0;
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: 700;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  padding: 10px 50px 20px 50px;
}

.score p {
  color: hsl(229, 64%, 46%);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.currentScore {
  color: hsl(229, 25%, 31%) !important;
  font-size: 3.5rem !important;
  font-weight: 700 !important;
}

/* Selector CSS */

.selector {
  margin-top: 90px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.pentagon {
  position: fixed;
}

.options {
  position: fixed;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer_circle_rock {
  display: flex;
  position: relative;
  background: radial-gradient(ellipse at top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  width: 140px;
  height: 140px;
  border-radius: 500px;
  top: -36px;
}
.outer_circle_rock:hover {
  box-shadow: 0 1px 1px hsla(349, 71%, 52%, 0.14),
              0 2px 2px hsl(349, 71%, 52%, 0.14),
              0 4px 4px hsl(349, 71%, 52%, 0.14),
              0 8px 8px hsl(349, 71%, 52%, 0.14),
              0 16px 16px hsl(349, 71%, 52%, 0.14);
}
.inner_circle_rock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  background-color: rgb(240, 240, 240);
  width: 115px;
  height: 115px;
  border-radius: 500px;
}
.inner_circle_rock:hover {
  background-color: white;
}
.rock {
  margin: auto;
  width: 50px;
}

.outer_circle_paper {
  display: flex;
  position: relative;
  background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  width: 140px;
  height: 140px;
  border-radius: 500px;
  top: -45px;
  left: 190px;
}
.outer_circle_paper:hover {
  box-shadow: 0 1px 1px hsla(230, 89%, 62%, 0.14),
              0 2px 2px hsl(230, 89%, 62%, 0.14),
              0 4px 4px hsl(230, 89%, 62%, 0.14),
              0 8px 8px hsl(230, 89%, 62%, 0.14),
              0 16px 16px hsl(230, 89%, 62%, 0.14);
}
.inner_circle_paper {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(240, 240, 240);
  width: 115px;
  height: 115px;
  border-radius: 500px;
}
.inner_circle_paper:hover {
  background-color: white;
}
.paper {
  margin: auto;
  width: 50px;
}

.outer_circle_spock {
  display: flex;
  position: relative;
  background: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  width: 140px;
  height: 140px;
  border-radius: 500px;
  top: -185px;
  right: 190px;
}
.outer_circle_spock:hover {
  box-shadow: 0 1px 1px hsla(189, 59%, 53%, 0.14),
              0 2px 2px hsl(189, 59%, 53%, 0.14),
              0 4px 4px hsl(189, 59%, 53%, 0.14),
              0 8px 8px hsl(189, 59%, 53%, 0.14),
              0 16px 16px hsl(189, 59%, 53%, 0.14);
}
.inner_circle_spock {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(240, 240, 240);
  width: 115px;
  height: 115px;
  border-radius: 500px;
}
.inner_circle_spock:hover {
  background-color: white;
}
.spock {
  margin: auto;
  width: 50px;
}

.outer_circle_lizard {
  display: flex;
  position: relative;
  background: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  width: 140px;
  height: 140px;
  border-radius: 500px;
  top: -110px;
  right: 120px;
}
.outer_circle_lizard:hover {
  box-shadow: 0 1px 1px hsla(261, 73%, 60%, 0.14),
              0 2px 2px hsl(261, 73%, 60%, 0.14),
              0 4px 4px hsl(261, 73%, 60%, 0.14),
              0 8px 8px hsl(261, 73%, 60%, 0.14),
              0 16px 16px hsl(261, 73%, 60%, 0.14);
}
.inner_circle_lizard {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(240, 240, 240);
  width: 115px;
  height: 115px;
  border-radius: 500px;
}
.inner_circle_lizard:hover {
  background-color: white;
}
.lizard {
  margin: auto;
  width: 50px;
}

.outer_circle_scissor {
  display: flex;
  position: relative;
  background: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  width: 140px;
  height: 140px;
  border-radius: 500px;
  bottom: 250px;
  left: 120px;
}
.outer_circle_scissor:hover {
  box-shadow: 0 1px 1px hsla(39, 89%, 49%, 0.14),
              0 2px 2px hsl(39, 89%, 49%, 0.14),
              0 4px 4px hsl(39, 89%, 49%, 0.14),
              0 8px 8px hsl(39, 89%, 49%, 0.14),
              0 16px 16px hsl(39, 89%, 49%, 0.14);
}
.inner_circle_scissor {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(240, 240, 240);
  width: 115px;
  height: 115px;
  border-radius: 500px;
}
.inner_circle_scissor:hover {
  background-color: white;
}
.scissor {
  margin: auto;
  width: 50px;
}

/* Rules */
.modal-container {
  z-index: 1;
  position: absolute;
  color: black;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;}

.modal-content{
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  background-color: white;
  padding: 20px 50px 50px;
  width: 400px;
  height: 500px;
  border-radius: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top p {
  margin: 0;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.close {
  cursor: pointer;
}

.rules {
  margin-top: 40px;
  margin-left: 10px;
}

.rulesModal {
  position: absolute;
  bottom: 30px;
  right: 40px;
  padding: 10px 40px;
  background-color: transparent;
  border: 2px solid hsl(217, 16%, 45%);
  letter-spacing: 2px;
  border-radius: 8px;
  cursor: pointer;
}

.rulesModal:focus {
  background-color: transparent;
  border: 2px solid #646cff;
  outline: none;
}
.rulesModal:hover {
  background-color: transparent;
  border: 2px solid #646cff;
  outline: none;
}

section>button {
  background-color: rgb(0, 133, 249);
  position: absolute;
  z-index: 100;
  background: transparent;
  border: transparent;
  text-align: center;
  height: 140px;
  width: 140px;
  border-radius: 500px;
  cursor: pointer;
  padding: 0;
}

.selected_option {
  display: flex;
  gap: 200px;
}

.selected_left, .selected_right, .middleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.selected_left {
  gap: 100px;
}

.selected_left>p, .selected_right>p {
  font-size: 24px;
  letter-spacing: 3px;
  color: white;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.selected_left>section, .selected_right>section {
  transform: scale(2);
}

.loadingCircle {
  width: 200px;
  height: 200px;
  border-radius: 500px;
  background-color: #141539c0;
}

.selectedMove {
  position: inherit;
}

.middleSection {
  gap: 0px;
  margin-top: 90px;
  justify-content: center;
}

.middleSection > p {
  color: white;
  font-size: 64px;
  margin: 80px 0 0 0;
}

.middleSection>button {
  position: static;
  display: inherit;
  color: hsl(229, 25%, 31%);
  background-color: white;
  padding: 16px 60px;
  border-radius: 10px;
  width: max-content;
  height: fit-content;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;

}