/* Primary

Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

### Neutral

- Dark Text: hsl(229, 25%, 31%)
- Score Text: hsl(229, 64%, 46%)
- Header Outline: hsl(217, 16%, 45%)

### Background

- Radial Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%) */

/* Header CSS */

header {
  letter-spacing: 1px;
  color: white;
  display: flex;
  margin: auto;
  padding: 15px 20px;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 16px;
  line-height: 23px;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20vw;
  max-width: 720px;
}

Header p {
  margin-block: 0;
  margin-inline: 0;
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: 700;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  padding: 10px 50px 20px 50px;
}

.score p {
  color: hsl(229, 64%, 46%);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.currentScore {
  color: hsl(229, 25%, 31%) !important;
  font-size: 3.5rem !important;
  font-weight: 700 !important;
}

/* Selector CSS */

.selector {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.pentagon {
  position: fixed;
  width: 600px;
  height: 600px;
}

.options {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerRadi {
  width: 625px;
  height: 1px;
  background: transparent;
  position: relative;
  display: flex;
  justify-content: flex-start;
  top: 320px;
}

.first {
  transform: rotate(90deg);
}
.second {
  transform: rotate(160deg);
}
.third {
  transform: rotate(18deg);
}
.fourth {
  transform: rotate(302deg);
}
.fifth {
  transform: rotate(240deg);
}

.outer_circle {
  display: flex;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 500px;
  top: -95px;
  right: 70px;
}

.inner_circle {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(240, 240, 240);
  width: 155px;
  height: 155px;
  border-radius: 500px;
}
.inner_circle:hover {
  background-color: white;
}

.icons {
  width: 70px;
  margin: auto;
}

.outer_circle_rock {
  background: radial-gradient(
    ellipse at top,
    hsl(349, 71%, 52%),
    hsl(349, 70%, 56%)
  );
  transform: rotate(-90deg);
}

.outer_circle_rock:hover {
  box-shadow: 0 1px 1px hsla(349, 71%, 52%, 0.14),
    0 2px 2px hsl(349, 71%, 52%, 0.14), 0 4px 4px hsl(349, 71%, 52%, 0.14),
    0 8px 8px hsl(349, 71%, 52%, 0.14), 0 16px 16px hsl(349, 71%, 52%, 0.14);
}

.outer_circle_paper {
  background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  transform: rotate(-160deg);
}

.outer_circle_paper:hover {
  box-shadow: 0 1px 1px hsla(230, 89%, 62%, 0.14),
    0 2px 2px hsl(230, 89%, 62%, 0.14), 0 4px 4px hsl(230, 89%, 62%, 0.14),
    0 8px 8px hsl(230, 89%, 62%, 0.14), 0 16px 16px hsl(230, 89%, 62%, 0.14);
}

.outer_circle_spock {
  background: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  transform: rotate(-18deg);
}
.outer_circle_spock:hover {
  box-shadow: 0 1px 1px hsla(189, 59%, 53%, 0.14),
    0 2px 2px hsl(189, 59%, 53%, 0.14), 0 4px 4px hsl(189, 59%, 53%, 0.14),
    0 8px 8px hsl(189, 59%, 53%, 0.14), 0 16px 16px hsl(189, 59%, 53%, 0.14);
}

.spock {
  margin-left: 48px;
}

.outer_circle_lizard {
  background: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  transform: rotate(-302deg);
}
.outer_circle_lizard:hover {
  box-shadow: 0 1px 1px hsla(261, 73%, 60%, 0.14),
    0 2px 2px hsl(261, 73%, 60%, 0.14), 0 4px 4px hsl(261, 73%, 60%, 0.14),
    0 8px 8px hsl(261, 73%, 60%, 0.14), 0 16px 16px hsl(261, 73%, 60%, 0.14);
}

.outer_circle_scissor {
  background: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  border-radius: 500px;
  transform: rotate(-290deg);
}
.outer_circle_scissor:hover {
  box-shadow: 0 1px 1px hsla(39, 89%, 49%, 0.14),
    0 2px 2px hsl(39, 89%, 49%, 0.14), 0 4px 4px hsl(39, 89%, 49%, 0.14),
    0 8px 8px hsl(39, 89%, 49%, 0.14), 0 16px 16px hsl(39, 89%, 49%, 0.14);
}

/* Rules */
.modal-container {
  z-index: 1;
  position: absolute;
  color: black;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.modal-content {
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  background-color: white;
  padding: 20px 50px 50px;
  width: 600px;
  height: 700px;
  border-radius: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top p {
  margin: 0;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.close {
  cursor: pointer;
}

.rules {
  margin-top: 40px;
  margin-left: 10px;
}

.rulesModal {
  position: fixed;
  bottom: 30px;
  right: 40px;
  padding: 10px 40px;
  background-color: transparent;
  border: 2px solid hsl(217, 16%, 45%);
  letter-spacing: 2px;
  border-radius: 8px;
  cursor: pointer;
}

.rulesModal:focus {
  background-color: transparent;
  border: 2px solid #646cff;
  outline: none;
}
.rulesModal:hover {
  background-color: transparent;
  border: 2px solid #646cff;
  outline: none;
}

section > button {
  background-color: rgb(0, 133, 249);
  position: absolute;
  z-index: 100;
  background: transparent;
  border: transparent;
  text-align: center;
  height: 140px;
  width: 140px;
  border-radius: 500px;
  cursor: pointer;
  padding: 0;
}

.selected_option {
  display: flex;
  gap: 200px;
}

.selected_left,
.selected_right,
.middleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.selected_left {
  gap: 100px;
}

.selected_left > p,
.selected_right > p {
  font-size: 24px;
  letter-spacing: 3px;
  color: white;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.selected_left > section,
.selected_right > section {
  transform: scale(1.4);
}

.loadingCircle {
  width: 200px;
  height: 200px;
  border-radius: 500px;
  background-color: #141539c0;
}

.selectedMove {
  position: inherit;
}

.middleSection {
  gap: 0px;
  margin-top: 90px;
  justify-content: center;
}

.middleSection > p {
  color: white;
  font-size: 64px;
  margin: 80px 0 0 0;
}

.middleSection > button {
  position: static;
  display: inherit;
  color: hsl(229, 25%, 31%);
  background-color: white;
  padding: 16px 60px;
  border-radius: 10px;
  width: max-content;
  height: fit-content;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  #root {
    position: fixed;
  }

  header {
    transform: scale(0.8);
    gap: 0px;
    width: 100vw;
  }
  .selector {
    margin-top: 6vh;
  }
  .pentagon {
    width: 300px;
    height: 300px;
  }
  .outerRadi {
    width: 290px;
    height: 1px;
    top: 160px;
  }
  .outer_circle {
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 500px;
    top: -46px;
    right: 35px;
  }
  .inner_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 500px;
  }
  .inner_circle > button {
    width: 100px;
    height: 100px;
    border-radius: 500px;
  }
  .icons {
    width: 40px;
  }
  .spock {
    margin: auto;
    margin-left: 25px;
  }
  .modal-container {
    z-index: 2;
    position: fixed;
    top: -10px;
    left: -36px;
    width: 120vw;
    background-color: white;
  }
  .modal-content {
    margin-top: 28px;
    width: 80vw;
    height: 450px;
    z-index: 1;
  }
  .rules {
    margin-top: 80px;
  }
  .rulesModal {
    right: 31.5%;
    margin: auto;
  }
  .selected_option {
    gap: 10vw;
    justify-content: center;
  }
  .selectedMove {
    position: inherit;
  }

  .selected_left > p,
  .selected_right > p {
    font-size: 16px;
    letter-spacing: 2px;
  }
  .selected_left,
  .selected_right,
  .middleSection {
    display: flex;
    gap: 1vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .middleSection {
    position: absolute;
  }
  .middleSection > p {
    margin-top: 140px;
    font-size: 48px;
  }
  .middleSection > button {
    transform: scale(0.8);
    z-index: 1;
  }
  .loadingCircle {
    width: 100px;
    height: 100px;
  }
}

@media screen and (height: 640px) and (width: 360px){
  .rulesModal {
    right: 31%;
    bottom: 10px;
  }
  
}
@media screen and (width: 412px) and (height: 915px){
  .selector {
    margin-top: 160px;
  }
  .rules {
    margin-top: 200px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  #root {
    position: fixed;
  }

  header {
    transform: scale(0.8);
    gap: 0px;
    width: 100vw;
  }

  .selector {
    margin-top: 5vh;
  }
  .pentagon {
    width: 350px;
    height: 350px;
  }
  .outerRadi {
    width: 360px;
    height: 1px;
    top: 180px;
  }
  .outer_circle {
    display: flex;
    position: relative;
    width: 125px;
    height: 125px;
    border-radius: 500px;
    top: -58px;
    right: 42px;
  }
  .inner_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 500px;
  }
  .inner_circle > button {
    width: 100px;
    height: 100px;
    border-radius: 500px;
  }
  .icons {
    width: 40px;
  }
  .spock {
    margin: auto;
    margin-left: 32px;
  }
  .modal-container {
    z-index: 2;
    position: fixed;
    top: -10px;
    left: -55px;
    width: 120vw;
    background-color: white;
  }
  .modal-content {
    margin-top: 28px;
    width: 80vw;
    height: 450px;
    z-index: 1;
  }
  .rules {
    margin-top: 80px;
  }
  .rulesModal {
    right: 35%;
    margin: auto;
  }
  .selected_option {
    gap: 20vw;
    justify-content: center;
  }
  .selectedMove {
    position: inherit;
  }

  .selected_left > p,
  .selected_right > p {
    font-size: 16px;
    letter-spacing: 2px;
  }
  .selected_left,
  .selected_right,
  .middleSection {
    display: flex;
    gap: 1vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .middleSection {
    transform: scale(1.1);
    position: absolute;
    gap: 0px;
    margin-top: 24vh;
  }
  .middleSection > p {
    margin-top: 14vh;
    font-size: 48px;
  }
  .middleSection > button {
    transform: scale(0.8);
    z-index: 1;
  }
  .loadingCircle {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 640px) and (max-width: 769px) {
  .rulesModal {
    right: 40%;
  }
  .rules {
    transform: scale(0.9);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #root {
    position: fixed;
  }

  header {
    transform: scale(0.9);
    gap: 0px;
    width: 100vw;
  }

  .selector {
    margin-top: 8vh;
  }
  .pentagon {
    width: 480px;
    height:480px;
  }
  .outerRadi {
    width: 510px;
    height: 1px;
    top: 265px;
  }
  .outer_circle {
    display: flex;
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 500px;
    top: -75px;
    right: 50px;
  }
  .inner_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    width: 125px;
    height: 125px;
    border-radius: 500px;
  }
  .inner_circle > button {
    width: 100px;
    height: 100px;
    border-radius: 500px;
  }
  .icons {
    width: 60px;
  }
  .spock {
    margin: auto;
    margin-left: 32px;
  }
  .modal-container {
    z-index: 2;
    position: fixed;
    top: -10px;
    left: -86px;
    width: 120vw;
    background-color: white;
  }
  .modal-content {
    margin-top: 28px;
    width: 80vw;
    height: 450px;
    z-index: 1;
  }
  .rules {
    margin-top: 80px;
  }
  .rulesModal {
    right: 5%;
    margin: auto;
  }
  .selected_option {
    gap: 26vw;
    justify-content: center;
  }
  .selectedMove {
    position: inherit;
  }

  .selected_left > p,
  .selected_right > p {
    font-size: 24px;
    letter-spacing: 2px;
  }
  .selected_left,
  .selected_right,
  .middleSection {
    display: flex;
    gap: 2vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .middleSection {
    transform: scale(1.4);
    position: absolute;
    gap: 1vh;
    margin-top: 26vh;
  }
  .middleSection > p {
    margin-top: 14vh;
    font-size: 48px;
  }
  .middleSection > button {
    transform: scale(0.8);
    z-index: 1;
  }
  .loadingCircle {
    width: 160px;
    height: 160px;
  }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
  .rulesModal {
    right: 40%;
  }
  .rules {
    transform: scale(0.9);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  #root {
    position: fixed;
  }

  header {
    transform: scale(0.9);
    gap: 0px;
    width: 120vw;
  }

  .selector {
    margin-top: 8vh;
  }
  .pentagon {
    width: 480px;
    height:480px;
  }
  .outerRadi {
    width: 510px;
    height: 1px;
    top: 265px;
  }
  .outer_circle {
    display: flex;
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 500px;
    top: -75px;
    right: 50px;
  }
  .inner_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    width: 125px;
    height: 125px;
    border-radius: 500px;
  }
  .inner_circle > button {
    width: 100px;
    height: 100px;
    border-radius: 500px;
  }
  .icons {
    width: 60px;
  }
  .spock {
    margin: auto;
    margin-left: 32px;
  }
  .modal-container {
    z-index: 2;
    position: fixed;
    top: -10px;
    left: -100px;
    width: 120vw;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    margin-top: 80px;
    width: 50vw;
    height: 80vh;
    z-index: 1;
    transform: scale(0.8);
  }
  .rules {
    margin-top: 80px;
  }
  .rulesModal {
    right: 5%;
    margin: auto;
  }
  .selected_option {
    gap: 26vw;
    justify-content: center;
  }
  .selectedMove {
    position: inherit;
  }

  .selected_left > p,
  .selected_right > p {
    font-size: 24px;
    letter-spacing: 2px;
  }
  .selected_left,
  .selected_right,
  .middleSection {
    display: flex;
    gap: 2vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .middleSection {
    transform: scale(1.4);
    position: absolute;
    gap: 1vh;
    margin-top: 26vh;
  }
  .middleSection > p {
    margin-top: 14vh;
    font-size: 48px;
  }
  .middleSection > button {
    transform: scale(0.8);
    z-index: 1;
  }
  .loadingCircle {
    width: 160px;
    height: 160px;
  }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
  .rulesModal {
    right: 40%;
  }
  .rules {
    transform: scale(0.9);
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .selector {
    transform: scale(0.8);
    width: 80vw;
  }
  .selected_option {
    gap: 18vh;
  }
  .middleSection {
    transform: scale(1.1);
    gap: 3vh;
  }
  .modal-content {
    width: 40vw;
    height: 50vw;
    transform: scale(0.8);
  }
}

@media screen and (min-width: 1600px) and (max-width: 1920px) {
  header {
    width: 80vw;
  }
  .selector {
    transform: scale(0.8);
    width: 80vw;
    margin-top: 14vh;
  }
  .selected_option {
    transform: scale(1.2);
    gap: 10vw;
  }
  .selected_left > p,
.selected_right > p {
  font-size: 32px;
  margin-bottom: 0px;
}
  .middleSection {
    gap: 3vh;
  }
  .middleSection > p {
    font-size: 68px;
  }
  .middleSection > button {
    font-size: 18px;
  }
  .modal-content {
    transform: scale(0.7);
  }
  .rules {
    transform: scale(0.9);
  }
}

@media screen and (width: 1366px) and (height: 768px) {
  .selector {
    transform: scale(0.7);
  }
  .modal-content {
    transform: scale(0.6);
    margin-top: 8vh;
  }
  .rules {
    transform: scale(0.95);
  }
}

@media screen and (width: 1536px) and (height: 864px) {
  .modal-content {
    transform: scale(0.7);
    margin-top: 8vh;
  }
  .rules {
    transform: scale(0.9);
  }
}